<div class="container">
	<div class="row" style="margin: 40px 0px;">
    	<div class="col-12 border rounded bg-white shadow p-4">
    		<h2><strong>Frequently Asked Questions: </strong></h2>
    		<ol>
    			<li style="margin-bottom: 10px;"><strong>What features does CardMaestro provide?</strong></li>
				<p style="font-style: italic;">Answer: CardMaestro is your number one source for organizing, showoff and trading of your cards. We offer you the very best online web experience as a card collecter, with an extensive library of cards from all over the places that you can view and buy. </p>
				<li style="margin-bottom: 10px;"><strong>How do I show off my card collection?</strong></li>
				<p style="font-style: italic;">Answer: You could show off your cards by making your cards public. Simply go to "My Cards" page, click on the Update button on any card that you would like to show to others, unclick the private setting (it's public by default), so that other users will be able to view it when clicking on your profile. </p>
				<li style="margin-bottom: 10px;"><strong>How do I contact the seller if I want to buy a card of him/her?</strong></li>
				<p style="font-style: italic;">Answer: You will be able to see a list of sellers available for each card in the Card Library. You may contact them using our messaging system. Click on the email icon that is besides the seller's name. It will open up a chat window where you can start sending messages to the seller. </p>
				<li style="margin-bottom: 10px;"><strong>How do I change my password?</strong></li>
				<p style="font-style: italic;">Answer: You could go to your Profile page, and change your password anytime. </p>
				<li style="margin-bottom: 10px;"><strong>Why can't I see my personal cards under profile anymore?</strong></li>
				<p style="font-style: italic;">Answer: It is possible that your account has been signed out / session timed out. First make sure that you have signed into your account. When you're signed in, you can update your own collection of cards by searching/browsing through the Card Library and updating the quantities of those cards that you own. </p>
			</ol>
    	</div>
    </div>
</div>