<div class="container">
	<div class="row" style="margin: 40px 0px;">
    	<div class="col-12 border rounded bg-white shadow p-4">
    		<h2><strong>Contact Information:</strong></h2>
    		<p>If you have any questions or concerns regarding the website services, don't hesitate to contact us!</p>
			<span style="text-transform: capitalize;"> The CardMaestro</span> team can be located at:<br /> 
			<address style="margin-top: 10px; color: #0066cc;"> GB250, 35 St George St, Toronto<br />M5S 1A4 - Ontario , Canada<br />
			</address>
			<p>Phone Number that can be reached at (from Monday to Friday, 10:00 to 17:00): </p>
			<p style="color: #0066cc;">(+1) 647 687 2020</p>
			<p>Email address that can be reached at all times: </p>
			<p style="color: #0066cc;">cardmaestro06@gmail.com</p>
    	</div>
    </div>
</div>